pipeline/Archive_Processed_Files.json
{
	"name": "Archive_Processed_Files",
	"properties": {
		"activities": [
			{
				"name": "GetBLOBFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_AK_LIST",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "EachFileToArchive",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetBLOBFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetBLOBFileNames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToArchive",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_AK",
									"type": "DatasetReference",
									"parameters": {
										"OutputFileName": {
											"value": "@concat(substring(item().Name, 0, lastIndexOf(item().Name, '.')), '_',pipeline().parameters.startTime, '.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_AK_archive",
									"type": "DatasetReference",
									"parameters": {
										"OutputFileName": {
											"value": "@concat(substring(item().Name, 0, lastIndexOf(item().Name, '.')), '_',pipeline().parameters.startTime, '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DeleteArchived",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CopyToArchive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_AK",
									"type": "DatasetReference",
									"parameters": {
										"OutputFileName": {
											"value": "@concat(substring(item().Name, 0, lastIndexOf(item().Name, '.')), '_',pipeline().parameters.startTime, '.csv')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"startTime": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-12T10:39:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}