pipeline/Lake-json_to_SQL.json
{
	"name": "Lake-json_to_SQL",
	"properties": {
		"activities": [
			{
				"name": "LookupSPNames",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lake-json to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SPName FROM [dbo].[SPList] where id > 11 order by Id",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_AK",
						"type": "DatasetReference",
						"parameters": {
							"OutpuTableName": "test"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EachSP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupSPNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupSPNames').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SQL to 3NF",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().SPName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASQL_AK",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Truncate",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_ASQL_AK",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [stg].[online_purchase]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lake-json to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "online",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['serviceName']"
								},
								"sink": {
									"name": "online_service_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['serviceCode']"
								},
								"sink": {
									"name": "online_service_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['movieId']"
								},
								"sink": {
									"name": "movie_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['price']"
								},
								"sink": {
									"name": "price",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['id']"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['datetime']"
								},
								"sink": {
									"name": "transaction_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['pipelineId']"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_ONLINE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_AK",
						"type": "DatasetReference",
						"parameters": {
							"OutpuTableName": "online_purchase"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-30T11:51:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}